NODE_ENV='development'

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

SERVER_PORT=3001

JWT_ACCESS_SECRET_KEY=JWT_ACCESS_SECRET_KEY
JWT_REFRESH_SECRET_KEY=JWT_REFRESH_SECRET_KEY

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASSWORD=

MAIL_SUPPORT='support@yourdomain.com'

GOOGLE_RECAPTCHA_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=https://your-site.com/success
STRIPE_CANCEL_URL=https://your-site.com/canceled

ELASTICSEARCH_API_NODE=http://elasticsearch:9200/  

GOOGLE_CALLBACK_FRONT_URL=http://localhost:3000/auth/success
FORGOT_PASSWORD_FRONT_URL=http://localhost:3000/auth/forgot-password/
FRONT_ORIGIN_URL=http://localhost:3000