NODE_ENV='development'

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_HOST=localhost
POSTGRES_PORT=1111

SERVER_PORT=2222

JWT_ACCESS_SECRET_KEY=JWT_ACCESS_SECRET_KEY
JWT_REFRESH_SECRET_KEY=JWT_REFRESH_SECRET_KEY

MAIL_HOST='smtp.gmail.com'
MAIL_PORT=587
MAIL_SECURE='false'
MAIL_USER='example@gmail.com'
MAIL_PASSWORD='aaaa bbbb cccc dddd'

MAIL_SUPPORT='support@domain.com'
MAIL_NO-REPLY='no-reply@domain.com'

GOOGLE_RECAPTCHA_SECRET_KEY=sdasdadsdadasas
GOOGLE_CLIENT_ID=asdasdasdasasdasdasd
GOOGLE_SECRET=asdasdasdasdasasdasasd
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

STRIPE_SECRET_KEY=sadasdasdasdasdasdasdasd
STRIPE_WEBHOOK_SECRET=asdasdasdadasdadasd

ELASTICSEARCH_API_KEY='asdasdasdasasdasdasd'
ELASTICSEARCH_API_NODE='asdadasdasdadasdasasd'

GOOGLE_CALLBACK_FRONT_URL=http://localhost:3000/auth/success
FORGOT_PASSWORD_FRONT_URL=http://localhost:3000/auth/forgot-password/
FRONT_ORIGIN_URL=http://localhost:3000